*{
    margin: 0;
    padding: 0;
}
.container{
    display: flex;
    
}
.sidebar nav{
    padding:10px;
}
.sidebar nav li{
    list-style: none;
    font-size:25px;
    padding: 10px 0; 
}
.sidebar nav li a{
  text-decoration: none;
}

.main > img{
   width: 100%;
   height: auto;
}
.main{
    width: 100%;
    height: auto;
}  
.sidebar{
    background-color:wheat;
    width: 10%;
    height:50%;  
}
.icon{
 cursor: pointer;
 padding-left:10px ;
 padding-top:10px ;
}
@media only screen and (max-width: 500px) {
    .sidebar{
        background-color:wheat;
        width:6.5rem;
        height:286px; 
    }
    }
