.container{
    display: flex;
    
}
.sidebar nav{
    padding: 20px;
}
.sidebar nav li{
    list-style: none;
    font-size:30px;
    padding: 25px 0; 
}
.sidebar nav li a{
  text-decoration: none;
}

.main > img{
   width: 100%;
   height: auto;
}
.main{
    width: 80%;
    height: auto;
}  
.sidebar{
    background-color:wheat;
    width: 20%;
    height:auto;   
}

